@import "~bootstrap/scss/mixins/_breakpoints";
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
) !default;

html {
	body {
		main {
			article {
				section {
					&.content {
						&.about {
							&.page-header {
								height: 60vh;
								min-height: 65vh;
								transform: translate3d(0px, 0px, 0px);

								.img-header {
									background-image: url("../img/t/z3.jpg");
									background-size: 100% 100%;
									height: 100vh;
								}
							}

							.card {
								border: 1px solid rgba(204, 204, 153, 0.1);
								text-align: center;
								.card-header {
									background-color: rgba(204, 204, 153, 0.3);
									border-radius: 0%;
									// border: 0 transparent;
								}
								.card-img-top {
									height: 232px;
									width: 100%;
									filter: grayscale(25%);
									&.sl {
										// background-image: url("../img/t/sjl.jpg");
										background-position: center 40%;
										background-size: cover;
										filter: brightness(1.1);
									}
									&.sm {
										background-image: url("../img/t/sm.jpg");
										background-size: cover;
										background-position: 50% 61%;
										filter: brightness(1.5);
									}
									&.fm {
										background-image: url("../img/t/nfm.jpg");
										background-size: cover;
										background-position: 50% 35%;
									}
								}
								.card-footer {
									background-color: rgba(204, 204, 153, 0.3);
									.social-buttons {
										a {
											&:hover {
												text-decoration: none;
											}

											i {
												font-family: "Font Awesome 5 Brands";
												font-weight: 100;
											}
											&.gplus-ic {
												color: #dd4b39;
												&:hover {
													color: #e95950;
												}
											}
											&.tw-ic {
												color: #55acee;
												&:hover {
													color: #3b5998;
												}
											}
											&.li-ic {
												color: #1a75ac;

												&:hover {
													color: #3b5998;
												}
											}
											&.ins-ic {
												color: #e95950;
												&:hover {
													color: #dd4b39;
												}
											}
										}
									}
								}
							}
							// }

							.about-0 {
								.card {
									@include media-breakpoint-down(sm) {
										text-align: center;
									}
									.card-header {
										background-color: rgba(204, 204, 153, 0.3);
										border-radius: 0%;
										border: 0 transparent;
									}
									ul {
										&.list-group {
											.list-group-item {
												background-color: transparent;
												border: 1px solid rgba(204, 204, 153, 0.1);
												&:hover {
													background-color: #cccc9915;
												}
												p {
													font-size: 0.9rem;
												}
											}
										}
									}
								}
							}
							&.about-1 {
								.card {
									border: 1px solid rgba(204, 204, 153, 0.1);
									text-align: center;
									.card-img-top {
										height: 232px;
										width: 100%;
										// filter: grayscale(30%);
										&:hover {
											// filter: grayscale(0);
										}
										&.rm {
											background-image: url("../img/t/rm.jpg");
											background-position: center center;
											background-size: cover;
											filter: brightness(1.2);
										}
										&.bm {
											background-image: url("../img/t/bb.jpg");
											background-position: center center;
											background-size: cover;
											filter: brightness(1.3);
										}
										&.pm {
											background-image: url("../img/t/pmm.jpg");
											background-position: center top;
											background-size: cover;
											filter: brightness(1.6);
										}
										&.e1,
										&.e2,
										&.e3 {
											background-image: url("../img/default.png");
											background-position: center center;
											background-size: cover;
										}
									}
									.card-header {
										background-color: rgba(204, 204, 153, 0.3);
										border-radius: 0%;
										// border: 0 transparent;
									}
								}
							}

							&.about-2 {
								.card-deck {
									margin-bottom: 1.5rem;
									.card {
										border: 1px solid rgba(204, 204, 153, 0.1);
										text-align: center;
										.card-img-top {
											height: 232px;
											width: 100%;
											// filter: grayscale(30%);
											&:hover {
												// filter: grayscale(0);
											}
											&.lg {
												background-position: center center;
												background-size: cover;
											}
											&.im {
												background-position: center center;
												background-size: cover;
											}
											&.nt {
												background-position: top center;
												background-size: cover;
											}
											&.jd {
												background-position: center top;
												background-size: cover;
												filter: brightness(1.4);
											}
											&.mm {
												background-position: center center;
												background-size: cover;
											}
											&.gp {
												background-position: center center;
												background-size: cover;
											}
											&.km {
												background-position: center 10%;
												background-size: 90%;
											}
											&.dr {
												background-position: center 30%;
												background-size: cover;
												filter: brightness(0.9);
											}
											&.mn {
												background-position: center top;
												background-size: cover;
											}

											&.ap {
												background-position: center top;
												background-size: contain;
												background-repeat: no-repeat;
											}
											&.mk {
												background-position: center;
												background-size: cover;
											}
											&.ms {
												background-position: center top;
												background-size: cover;
											}
											&.e1,
											&.e2,
											&.e3 {
												background-image: url("../img/default.png");
												background-position: center center;
												background-size: cover;
											}
										}
										.card-header {
											background-color: rgba(204, 204, 153, 0.3);
											border-radius: 0%;
											// border: 0 transparent;
										}

										p {
											&.mk {
												color: transparent;
											}
											&.ms {
												color: transparent;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
