@import "~bootstrap/scss/mixins/_breakpoints";
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

html {
	body {
		main {
			article {
				section {
					&.content {
						&.beneficiaries {
							&.page-header {
								height: 60vh;
								min-height: 65vh;
								transform: translate3d(0px, 0px, 0px);

								.img-header {
									background-image: url("../img/sl/dg5.jpg");
									background-size: 100% 100%;
									height: 100vh;
								}
							}
							.card {
								.card-img-top {
									background-repeat: no-repeat;
									background-size: cover;
									background-position: top;
									// height: 250px;
									width: 100%;
								}
							}

							.beneficiaries-1 {
								button {
									box-shadow: 0 0 0 0.2rem rgba(152, 122, 72, 0.25);
									font-family: "Font Awesome 5 Free";
									@include media-breakpoint-down(sm) {
										float: left !important;
									}
									&[title]::after {
										@include media-breakpoint-down(sm) {
											display: none;
											float: left;
										}
										position: absolute;
										top: 40px;
										left: 32px;
									}

									&.collapsed {
										&::before {
											content: "\f078";
											display: block;
											width: 15px;
											transition: 0.9s;
										}
										&:hover {
											&[title]::after {
												content: "Expand";
											}
										}
									}
									&:before {
										content: "\f077";
										display: block;
										width: 15px;
										transition: 0.9s;
									}
									&:hover {
										background: #6c5f2e;
										color: #cccc99;
										top: 5px;

										&[title]::after {
											content: "Collapse";
										}
									}
								}
								.card {
									margin-bottom: 10px;
									&.flex-wr {
										flex-direction: row;
									}
									@include media-breakpoint-down(md) {
										@media (orientation: portrait) {
											text-align: center;
											&.flex-wr {
												flex-direction: column;
												img {
													align-self: center !important;
													height: 160px;
													width: 170px;
												}
												.card-img-top {
													// align-self: center !important;
													height: 160px;
													// width: 170px;
												}
												.card-header {
													display: block;
												}
												.card-body {
													.card-title {
														display: none;
													}
												}
											}
										}
									}
									img {
										height: 215px;
										width: 215px;
										@media (orientation: landscape) {
											// height: 215px;
											// width: 215px;
											// width: 100%;
											// height: 15.5vw;
											// width: 50vw;
										}
										object-fit: cover;
									}
									.card-header {
										display: none;
										background-color: rgba(204, 204, 153, 0.3);
										border-radius: 0%;
									}
									.card-body {
										.card-title {
										}
										.card-text {
											.publication {
											}
										}
									}
								}

								.media {
									background-color: #ffffffa1;
									@include media-breakpoint-down(md) {
										@media (orientation: portrait) {
											display: block;
										}
									}
									.img {
										height: 160px;
										width: 170px;
										background-repeat: no-repeat;
										background-size: cover;
										background-position: top;

										@include media-breakpoint-down(md) {
											@media (orientation: portrait) {
												&.mr-3 {
													margin: 0 50px !important;
												}
											}
										}
									}
									img {
										height: 160px;
										width: 170px;
										@include media-breakpoint-down(md) {
											@media (orientation: portrait) {
												&.mr-3 {
													margin: 0 50px !important;
												}
												align-self: center !important;
											}
										}
									}
									.media-body {
										padding: 5px 10px;
										.media-heading {
											color: #825c14;
											font-weight: 600;
											text-decoration: none;
											> small {
												color: #000;
												font-size: 65%;
											}
											@include media-breakpoint-down(md) {
												@media (orientation: portrait) {
													text-align: center;
												}
											}
										}
										.media-category {
											@include media-breakpoint-down(md) {
												@media (orientation: portrait) {
													text-align: center;
												}
											}
										}
										p {
											margin-bottom: 0;
											&.media-description {
											}
											&.media-publication {
												font-style: italic;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
