@import "~bootstrap/scss/mixins/_breakpoints";
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
) !default;

html {
	body {
		main {
			article {
				section {
					&.content {
						&.page-header {
							.carousel {
								.carousel-inner {
									.carousel-item {
										.img-slide {
											background-repeat: no-repeat;
											background-position: 50% 20%;
											background-size: cover;
											height: 100vh;
											margin: 0;
											position: relative;
											opacity: 0.85;

											.carousel-caption {
												background-color: rgba(65, 65, 65, 0.6);
												color: #fff;
												padding: 10px;
												margin-bottom: 50px;
												text-transform: uppercase;
												text-shadow: 0.1px 0.1px 0 rgba(0, 0, 0, 0.8);
												z-index: 3;
												bottom: 1.4rem;

												h4 {
													font-size: 1rem;
												}
												p {
													font-size: 0.75rem;
												}
											}
											&.covid-n {
												background-image: url("../img/covid.jpg");
												background-repeat: no-repeat;
												.carousel-caption {
													background-color: #f0f8ff00;
													bottom: 0rem;
												}
											}

											&.sl1 {
												background-image: url("../img/sl/dg6.jpg");
												.carousel-caption {
													right: 7rem;
													left: auto;
													text-align: right;
												}
											}
											&.sl2 {
												background-image: url("../img/g/slots/slots.jpg");
												.carousel-caption {
													left: auto;
													text-align: center;
												}
											}
											&.sl3 {
												background-image: url("../img/sl/dg8.jpg");
												.carousel-caption {
													right: auto;
													left: 7rem;
													text-align: left;
												}
											}
											&.sl4 {
												background-image: url("../img/sl/dg10.jpg");
												.carousel-caption {
													right: auto;
													left: 7rem;
													text-align: left;
												}
											}
											&.sl5 {
												background-image: url("../img/sl/dg7.jpg");
												.carousel-caption {
													right: 7rem;
													left: auto;
													text-align: right;
												}
											}
											&.sl6 {
												background-image: url("../img/g/m/2.jpg");
												.carousel-caption {
													right: 7rem;
													left: auto;
													text-align: right;
												}
											}
											// &.sl7 {
											// 	background-image: url("../img/g/ten/4.jpg");
											// 	.carousel-caption {
											// 		right: 7rem;
											// 		left: auto;
											// 		text-align: right;
											// 	}
											// }
										}
									}
								}
							}
						}

						&.intro {
							&.page-header {
								height: 100vh;
							}
							.intro-0 {
								@include media-breakpoint-down(sm) {
									.description {
										text-align: center;
									}
								}
							}
							.intro-1 {
								img {
									height: 192.02px;
								}
							}
							.social {
								.title,
								.description,
								.info {
									text-decoration: line-through;
								}
								.research > .description {
									text-decoration: none;
								}
							}
							.partners {
								padding-bottom: 100px;
								.card {
									background-color: transparent;
									border: 0;
									border-radius: 0;
									margin: 1rem 0.5rem;
									width: auto;
									img {
										margin: 0 auto;
										max-width: 150px;
									}
									@include media-breakpoint-down(sm) {
										margin: 1rem 0;
									}
								}
							}
						}

						&.donate {
							.card {
								@include media-breakpoint-down(sm) {
									text-align: center;
								}
								.card-header {
									background-color: rgba(204, 204, 153, 0.3);
									border-radius: 0%;
									border: 0 transparent;
								}
								ul {
									&.list-group {
										.list-group-item {
											background-color: transparent;
											border: 1px solid rgba(204, 204, 153, 0.1);
											&:hover {
												background-color: #cccc9960;
											}
											h6 {
												margin-bottom: 0;
											}
											p {
												font-size: 0.81rem;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
