@import "~bootstrap/scss/mixins/_breakpoints";
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
) !default;

html {
	body {
		main {
			article {
				section {
					&.content {
						&.services {
							&.page-header {
								height: 60vh;
								min-height: 65vh;
								transform: translate3d(0px, 0px, 0px);

								.img-header {
									background-image: url("../img/g/67min/1.jpg");
									background-size: 100% 100%;
									height: 100vh;
								}
							}
							.card {
								@include media-breakpoint-down(sm) {
									text-align: center;
								}
								.card-header {
									background-color: rgba(204, 204, 153, 0.3);
									border-radius: 0%;
									border: 0 transparent;
								}
								.card-body {
								}
								ul {
									&.list-group {
										.list-group-item {
											background-color: transparent;
											border: 1px solid rgba(204, 204, 153, 0.1);
											&:hover {
												background-color: #cccc999f;
											}
											h6 {
											}
											p {
												font-size: 0.81rem;
											}
										}
									}
								}
							}
							.services-0 {
								margin-top: 30px;
								.description {
									@include media-breakpoint-down(sm) {
										text-align: center;
									}
								}
							}
							.services-1 {
							}

							&.partners {
								.card {
									filter: grayscale(1);
									background-color: rgba(255, 255, 255, 0.561);
									border: 0.75px solid rgba(0, 0, 0, 0.061);
									// margin: 1rem 0.5rem;
									&:hover {
										filter: grayscale(0);
									}

									@include media-breakpoint-down(sm) {
										background-color: transparent;
										border: 0 none;
										.card-body {
											display: none;
										}
									}
									img {
										margin: 0 auto;
										width: 150px;
										&.card-img-top {
											padding-top: 1rem;
										}

										&.Hot {
											height: 150px;
											width: 100%;
										}
									}
									.card-body {
										text-align: center;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
