<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= htmlWebpackPlugin.options.title %></title>
		<link href="<%= htmlWebpackPlugin.files.favicon %>" rel="shortcut icon" />
	</head>

	<body>
		<main role="main">
			<article>
				<section class="content about page-header d-none d-lg-block">
					<div class="img-header"></div>
				</section>
			</article>

			<article>
				<section class="content about">
					<h1 class="title text-center">About Us</h1>
					<div class="container">
						<div class="company">
							<div class="row">
								<div class="col-sm-12 col-lg-7">
									<h3>
										About
										<b class="text-success">Tswelopele Frail Care Centre</b>
									</h3>
									<p hidden class="lead">
										This registered and certificated old age facility was
										established in April 2005 in the suburb of Hillbrow,
										Johannesburg, South Africa.
									</p>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12 col-lg-7">
									<div class="">
										<p>
											<b><i>TFCC</i></b> was established on
											<b>01 April 2005</b> resulting from the discontinuation of
											services that were rendered by
											<i>Emseni Chronic Care Unit</i> which was part of
											<i>Rhema Service Foundation</i>.
										</p>
										<p>
											The discontinuation of services by
											<b><i>Emseni Chronic Care Unit</i></b> caused all its
											employees (Human Resource) to be retrenched and the
											building was sold to a private property developer.
										</p>

										<p>
											This process also left Eighty-nine (89) beneficiaries
											&apos;homeless&apos; as they could not be accommodated at
											other institutions.
										</p>

										<p>
											Few of the retrenched staff members identified an
											opportunity and took upon themselves to turn the situation
											around especially for the 89 stranded and destitute
											beneficiaries.
										</p>

										<p>
											They applied for the NPO and registered the services as
											<b><i>Tswelopele Frail Care Centre</i></b
											>.
										</p>
									</div>
								</div>
								<div class="col-sm-12 col-lg-5">
									<img
										src="./assets/img/logo.png"
										class="img-fluid mx-auto d-block"
									/>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="break">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-lg-12">
								<blockquote>
									<p class="lead mb-0">
										&quot;Tswelopele is a Setswana &amp; Sesotho name which
										means "Moving forward".
									</p>
								</blockquote>

								<blockquote hidden>
									<p class="lead">
										<sup>17</sup> &quot;So faith comes from hearing, and hearing
										through the word of Christ.&quot;
									</p>
									<footer>
										<cite title="Romans 10 : 17">&mdash; Romans 10 : 17</cite>
									</footer>
								</blockquote>
							</div>
						</div>
					</div>
				</section>
			</article>

			<!-- founding members -->
			<article>
				<section class="content about brk">
					<div class="container">
						<div class="text-center">
							<h1 class="title">Meet The Team</h1>
							<h4 class="text-muted">
								The founding members of
								<span class="text-success">Tswelopele Frail Care Centre</span>.
							</h4>
						</div>

						<div id="listFounders"></div>
					</div>
				</section>

				<section class="break">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-lg-12">
								<blockquote hidden>
									<p hidden class="lead">
										<sup>1 - 2</sup> &quot;Do not let your hearts be troubled.
										You believe in God; believe also in me. My Father’s house
										has many rooms; if that were not so, would I have told you
										that I am going there to prepare a place for you&#63; &quot;
									</p>
									<footer>
										<cite title="John 14 : 1-2">&mdash; John 14 : 1-2</cite>
									</footer>
								</blockquote>
							</div>
						</div>
					</div>
				</section>
			</article>

			<!-- staff members -->
			<article>
				<section class="content about about-1 brk">
					<div class="container">
						<div class="text-center">
							<h1 class="title">Meet The Staff Members</h1>
							<h4 class="text-muted">
								Staff members of
								<span class="text-success">Tswelopele Frail Care Centre</span>.
							</h4>
						</div>

						<div id="listStaff"></div>
					</div>
				</section>

				<section class="break">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-lg-12">
								<blockquote hidden>
									<p hidden class="lead">
										<sup>1 - 2</sup> &quot;Do not let your hearts be troubled.
										You believe in God; believe also in me. My Father’s house
										has many rooms; if that were not so, would I have told you
										that I am going there to prepare a place for you&#63; &quot;
									</p>
									<footer>
										<cite title="John 14 : 1-2">&mdash; John 14 : 1-2</cite>
									</footer>
								</blockquote>
							</div>
						</div>
					</div>
				</section>
			</article>

			<!-- Advisory Board -->
			<article>
				<section class="content about about-2 brk">
					<div class="container">
						<div class="text-center">
							<h1 class="title">Meet The Advisory Board</h1>
							<h4 class="text-muted"></h4>
						</div>

						<div id="listAdvisoryBoard"></div>
					</div>
				</section>

				<section class="break">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-lg-12">
								<blockquote hidden>
									<p class="lead">
										<sup>35</sup> &quot;For I was hungry and you gave me food, I
										was thirsty and you gave me drink, I was a stranger and you
										welcomed me,&quot;
									</p>
									<footer>
										<cite title="Matthew 25 : 35">&mdash; Matthew 25 : 35</cite>
									</footer>
								</blockquote>
							</div>
						</div>
					</div>
				</section>
			</article>
		</main>
	</body>
</html>
