<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= htmlWebpackPlugin.options.title %></title>
		<link href="<%= htmlWebpackPlugin.files.favicon %>" rel="shortcut icon" />
	</head>

	<body>
		<main role="main">
			<article>
				<section class="content beneficiaries page-header d-none d-lg-block">
					<div class="img-header"></div>
				</section>
			</article>

			<!-- Beneficiaries -->
			<article>
				<section class="content beneficiaries">
					<div class="beneficiaries-1">
						<div class="container">
							<h1 class="title text-center">
								Meet Our Beneficiaries
							</h1>

							<div class="row justify-content-center">
								<div class="col-md-1 col-sm-2 mb-5">
									<button
										class="btn float-right"
										type="button"
										data-toggle="collapse"
										data-target="#collapse1"
										aria-expanded="true"
										aria-controls="collapse1"
										title=""
									></button>
								</div>
							</div>

							<div class="collapse show" id="collapse1">
								<div id="listBeneficiaries"></div>
							</div>
						</div>
					</div>
				</section>

				<section class="break">
					<div class="container">
						<div class="row">
							<div class="col-md-11">
								<blockquote hidden class="blockquote text-right">
									<p class="lead mb-0">
										<sup>49</sup> &quot;The Lord watch between you and me, when
										we are out of one another&apos;s sight.&quot;
									</p>
									<footer>
										<cite title="Genesis 31 : 49">Genesis 31 : 49 &mdash;</cite>
									</footer>
								</blockquote>
							</div>
							<div class="col-md-1"></div>
						</div>
					</div>
				</section>
			</article>

			<article hidden>
				<section class="content beneficiaries brk">
					<div class="beneficiaries-1">
						<div class="container">
							<h1 class="title text-center">
								Discharged Beneficiaries
							</h1>

							<div class="row justify-content-center">
								<div class="col-md-1 col-sm-2 mb-5">
									<button
										class="btn float-right collapsed"
										type="button"
										data-toggle="collapse"
										data-target="#collapse2"
										aria-expanded="false"
										aria-controls="collapse2"
										title=""
									></button>
								</div>
							</div>

							<div class="collapse" id="collapse2">
								<div id="dischargedBeneficiaries"></div>
							</div>
						</div>
					</div>
				</section>

				<section class="break">
					<div class="container">
						<div class="row">
							<div class="col-md-11">
								<blockquote hidden class="blockquote text-right">
									<p class="lead mb-0">
										<sup>49</sup> &quot;The Lord watch between you and me, when
										we are out of one another&apos;s sight.&quot;
									</p>
									<footer>
										<cite title="Genesis 31 : 49">Genesis 31 : 49 &mdash;</cite>
									</footer>
								</blockquote>
							</div>
							<div class="col-md-1"></div>
						</div>
					</div>
				</section>
			</article>
		</main>
	</body>
</html>
