<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= htmlWebpackPlugin.options.title %></title>
		<link href="<%= htmlWebpackPlugin.files.favicon %>" rel="shortcut icon" />
	</head>

	<body>
		<main role="main">
			<article>
				<section class="content contact page-header d-none d-lg-block">
					<div id="map" class="map" style="overflow: hidden">
						<iframe
							id="my-iframe"
							data-loaded="false"
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1790.0957210651568!2d28.0494466743467!3d-26.19044997388878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e950c2473d6ad73%3A0x860f59b4dfc7fe00!2sTswelopele!5e0!3m2!1sen!2sza!4v1538978267478"
							frameborder="0"
							style="border: 0"
							allowfullscreen
						></iframe>
					</div>
				</section>
			</article>

			<!-- Contact Form -->
			<article>
				<section class="content contact">
					<div class="text-center">
						<h1 class="title text-center">Contact Us</h1>
						<h4 class="description info-title">Give Us A Ring | Visit Us</h4>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-6 offset-lg-1">
								<div class="alert alert-dismissible fade in show" role="alert">
									<button
										type="button"
										class="close"
										data-dismiss="alert"
										aria-label="Close"
									>
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<!-- class="alert alert-dismissible animated bounce" -->
							</div>
						</div>

						<div class="row">
							<div class="col-md-8">
								<form
									role="form"
									class="needs-validation"
									novalidate
									id="contactForm"
								>
									<div class="form-row">
										<div class="col-lg-6">
											<div class="form-group has-feedback">
												<label class="control-label">Full Name</label>
												<input
													class="form-control"
													name="name"
													type="text"
													required
												/>

												<div class="valid-feedback">Looks good!</div>
												<div class="invalid-feedback">
													Your Full Name is missing!
												</div>
											</div>
										</div>

										<div class="col-lg-6">
											<div class="form-group has-feedback">
												<label class="control-label"
													><span>Email address</span></label
												>
												<input
													class="form-control"
													name="email"
													type="email"
													required
												/>

												<div class="valid-feedback">Looks good!</div>
												<div class="invalid-feedback">
													Incorrect email address
												</div>

												<!-- Honeypot -->
												<input
													name="honeypot"
													autocomplete="off"
													class="honeypot"
													type="text"
												/>
											</div>
										</div>
									</div>

									<div class="form-row">
										<div class="form-group col-md-12">
											<select
												class="form-control"
												name="selected"
												data-error="Please select a subject in the list."
												required
											>
												<option value="" selected>
													<span class="text-muted">Select a subject...</span>
												</option>
												<option>General</option>
												<option>Complaint</option>
												<option>Suggestions</option>
												<option>Praise</option>
												<option>Other (Please specify)</option>
											</select>

											<div class="valid-feedback">Looks good!</div>
											<div class="invalid-feedback">
												Please choose a subject.
											</div>
										</div>
									</div>

									<div class="form-row">
										<div class="form-group col-md-12">
											<label class="control-label">
												Your message
												<span id="charBreak" style="display: none">
													| <i id="charNum" class="small text-muted"></i>
												</span>
											</label>
											<textarea
												class="form-control"
												name="content"
												rows="5"
												maxlength="1000"
												required
											></textarea>

											<div class="valid-feedback">Looks good!</div>
											<div class="invalid-feedback">
												Your message is missing!
											</div>
										</div>
									</div>
									<div class="row align-self-center">
										<div class="col-md-6">
											<button
												type="submit"
												class="btn btn-primary btn-send btn-lg"
											>
												Submit
											</button>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12 server-error"></div>
									</div>
								</form>
							</div>

							<div class="col-sm-12 col-md-4">
								<h2 class="title hidden"></h2>
								<div class="row">
									<div class="col-sm-12 col-md-12">
										<h4 class="title">
											<span class="fa-stack fa-1x">
												<i class="fas fa-square fa-stack-2x"></i>
												<i class="fas fa-map-marker fa-stack-1x fa-inverse"></i>
											</span>
											Find us at the office
										</h4>
										<address class="pl-6">
											1st Floor, Princess Palace <br />
											69 Esselen Street <br />
											Hillbrow, Gauteng <br />
											South Africa
											<br />
										</address>
									</div>

									<div class="col-sm-12 col-md-12">
										<h4 class="title">
											<span class="fa-stack fa-1x">
												<i class="fas fa-square fa-stack-2x"></i>
												<i class="fas fa-phone fa-stack-1x fa-inverse"></i>
											</span>
											Give us a ring
										</h4>
										<address class="pl-6">
											<abbr title="Telephone">T:</abbr> +27 (11) 484 2016/17
											<br />
											<abbr title="Email">E:</abbr>
											<a href="mailto:#">info@tfcc.co.za</a> <br />
											Business Hours: <br />
											Mon - Fri, 8:00-16:00 <br />
											Business Hours: <br />
											24 / 7
										</address>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="break">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-lg-12">
								<blockquote hidden>
									<p class="lead">
										<sup>10 - 11</sup>
										<br />
										&quot;What should we do then&#63;&quot; the crowd asked.
										<br />
									</p>
									<footer>
										<cite title="Luke 3 : 10-11">&mdash; Luke 3 : 10-11</cite>
									</footer>
								</blockquote>
							</div>
						</div>
					</div>
				</section>
			</article>

			<!-- Application Forms -->
			<article>
				<section class="content contact brk">
					<div class="text-center">
						<h1 class="title"></h1>
						<h4 class="text-muted"></h4>
					</div>

					<div class="container">
						<div class="contact-0">
							<div class="row justify-content-center">
								<div class="col-sm-12 col-lg-4 align-self-center">
									<div class="description">
										<h4>Placement Application</h4>
										<p>
											Should you wish to get accommodation for a person in need
											of our services, please download the form below.
										</p>
										<a
											target="_blank"
											href="./assets/docs/TFCC_Placement_Form.pdf"
											class="btn btn-success"
										>
											<span class="fa-stack">
												<i class="fas fa-download fa-stack-1x"></i>
											</span>
											Download
										</a>
									</div>
								</div>
								<div class="col-sm-12 col-lg-4">
									<div class="card">
										<div class="card-img-top"></div>
										<div class="card-header text-center" hidden>
											TFCC Placement Application
										</div>
										<ul class="list-group list-group-flush">
											<li class="list-group-item">
												<img
													src="./assets/img/appform.png"
													class="img-fluid mx-auto d-block"
												/>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="break">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-lg-12">
								<blockquote hidden>
									<p class="lead">
										<sup>10 - 11</sup>
										John answered, &quot;Anyone who has two shirts should share
										with the one who has none, and anyone who has food should do
										the same.&quot;
									</p>
									<footer>
										<cite title="Luke 3 : 10-11">&mdash; Luke 3 : 10-11</cite>
									</footer>
								</blockquote>
							</div>
						</div>
					</div>
				</section>
			</article>

			<!-- Social Bench -->
			<article hidden>
				<section class="content contact-1 brk">
					<div class="container">
						<div class="text-center">
							<h1 class="title">Social Bench</h1>
							<h4 class="text-muted"></h4>
						</div>

						<div class="row">
							<div class="col-sm-12 col-lg-4">
								<div id="fb-root"></div>
								<div
									class="fb-page"
									data-href="https://www.facebook.com/tfcc.tswelopele"
									data-tabs="timeline"
									data-small-header="true"
									data-height="450"
									data-adapt-container-width="true"
									data-hide-cover="false"
									data-show-facepile="true"
								>
									<blockquote
										cite="https://www.facebook.com/tfcc.tswelopele"
										class="fb-xfbml-parse-ignore"
									>
										<a href="https://www.facebook.com/tfcc.tswelopele">
											Tswelopele Frail Care Center
										</a>
									</blockquote>
								</div>
							</div>

							<div class="col-sm-12 col-lg-4">
								<div hidden class="card">
									<div class="card-img-top nfm"></div>
									<div class="card-header">Twitter Widget</div>
									<div class="card-body">
										<p class="card-text">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Dici enim nihil potest verius. Qui potest igitur habitare
											in beata vita summi mali metus?
										</p>
									</div>
									<div class="card-footer">
										<div class="social-bar">
											<p class="text-muted">Visit</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-12 col-lg-4">
								<div hidden class="card">
									<div class="card-img-top sm"></div>
									<div class="card-header">Instagram Widget</div>
									<div class="card-body">
										<p class="card-text">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit.
											Dici enim nihil potest verius. Qui potest igitur habitare
											in beata vita summi mali metus?
										</p>
									</div>
									<div class="card-footer">
										<div class="social-bar">
											<p class="text-muted">Visit</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="break">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-lg-12">
								<blockquote hidden>
									<p class="lead">
										<sup>10 - 11</sup>
										John answered, &quot;Anyone who has two shirts should share
										with the one who has none, and anyone who has food should do
										the same.&quot;
									</p>
									<footer>
										<cite title="Luke 3 : 10-11">&mdash; Luke 3 : 10-11</cite>
									</footer>
								</blockquote>
							</div>
						</div>
					</div>
				</section>
			</article>

			<!-- Donate -->
			<article hidden>
				<section class="content donate">
					<div class="text-center">
						<h1 class="title text-center">Tswelopele&apos;s Wishlist</h1>
						<h4 class="text-muted"></h4>
					</div>

					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-12 col-lg-6">
								<div class="card">
									<ul class="list-group list-group-flush">
										<li class="list-group-item">
											<h6>
												<!-- <i class="fas fa-angle-right fa-lg"></i> -->
												A 13 – 15 seater vehicle or a vehicle sponsor to provide
												low cost or free vehicle hire for our hop-on hop-off
												volunteer bus service
											</h6>
										</li>
										<li class="list-group-item">
											<h6>
												<!-- <i class="fas fa-angle-right fa-lg"></i> -->
											</h6>
										</li>
									</ul>
								</div>
							</div>

							<div class="col-12 col-sm-12 col-lg-6">
								<div class="card">
									<ul class="list-group list-group-flush">
										<li class="list-group-item">
											<h6></h6>
										</li>
										<li class="list-group-item">
											<h6></h6>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="break">
					<div class="container">
						<div class="row">
							<div class="col-md-11">
								<blockquote hidden class="blockquote text-right">
									<p class="lead">
										<sup>31</sup> &quot;What then shall we say in response to
										these things&#63; If God is for us, who can be against
										us&#63; &quot;
									</p>
									<footer>
										<cite title="Romans 8 : 31">&mdash; Romans 8 : 31</cite>
									</footer>
								</blockquote>
							</div>
							<div class="col-md-1"></div>
						</div>
					</div>
				</section>
			</article>
		</main>
	</body>
</html>
