<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= htmlWebpackPlugin.options.title %></title>
		<link href="<%= htmlWebpackPlugin.files.favicon %>" rel="shortcut icon" />
	</head>

	<body>
		<main role="main">
			<article>
				<section class="content gallery page-header d-none d-lg-block">
					<div class="img-header"></div>
				</section>
			</article>

			<!-- Gallery -->
			<article>
				<section class="content gallery brk">
					<div class="gallery-1">
						<h1 class="title text-center">Gallery</h1>
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-12">
									<div class="showcase-list"></div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="break">
					<div class="container">
						<div class="row">
							<div class="col-md-11">
								<blockquote hidden class="blockquote text-right">
									<p class="lead mb-0">
										<sup>1</sup> &quot;Now faith is the assurance of things
										hoped for, the conviction of things not seen.&quot;
									</p>
									<footer>
										<cite title="Hebrews 11 : 1">Hebrews 11 : 1 &mdash;</cite>
									</footer>
								</blockquote>
							</div>
							<div class="col-md-1"></div>
						</div>
					</div>
				</section>
			</article>
		</main>
	</body>
</html>
