<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= htmlWebpackPlugin.options.title %></title>
		<link href="<%= htmlWebpackPlugin.files.favicon %>" rel="shortcut icon" />

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=UA-153428502-1"
		></script>
		<script>
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag("js", new Date())

			gtag("config", "UA-153428502-1")
		</script>
	</head>

	<body>
		<main role="main">
			<article>
				<section class="content intro page-header d-none d-lg-block">
					<div id="carousel-tfcc" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner" role="listbox">
							<div class="carousel-item active">
								<div class="img-slide covid-n">
									<div hidden class="carousel-caption d-lg-block">
										<div class="row justify-content-end">
											<div class="col-lg-12 align-self-center">
												<h4></h4>
												<p>
													<a
														href="https://sacoronavirus.co.za/information-about-the-virus-2/"
														class="btn btn-danger"
														target="_blank"
														>About COVID-19</a
													>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="carousel-item">
								<!-- <img class="img-slide d-block w-100" src="./assets/img/sl/dg6.jpg" alt="First slide"> --->
								<div class="img-slide sl1">
									<div hidden class="carousel-caption d-lg-block">
										<div class="row justify-content-end">
											<div class="col-lg-7 align-self-end">
												<h4>
													67 Mintutes, Mandela Day
													<small class="text-danger">with SASSA</small>
												</h4>
												<p></p>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="carousel-item">
								<div class="img-slide sl2">
									<div class="carousel-caption d-lg-block">
										<div class="row">
											<div class="col-lg-12 align-self-end">
												<h4 class="">
													Handover for a vehicle by Hot Slots
												</h4>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="carousel-item">
								<div class="img-slide sl3">
									<div class="carousel-caption d-lg-block">
										<div class="row">
											<div class="col-lg-12 align-self-end">
												<h4>
													Home Craft Activity
													<small class="text-danger"
														>at Tswelopele Frail Care Centre</small
													>
												</h4>
												<p></p>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="carousel-item">
								<div class="img-slide sl4">
									<div class="carousel-caption d-lg-block">
										<div class="row">
											<div class="col-lg-12 align-self-end">
												<h4>
													Home Craft Activity
													<small class="text-success"
														>at Tswelopele Frail Care Centre</small
													>
												</h4>
												<p></p>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- <div class="carousel-item">
								<div class="img-slide sl7">
									<div hidden class="carousel-caption d-lg-block">
										<div class="row justify-content-end">
											<div class="col-lg-7 align-self-end">
												<h4>
													10 YEARS of TFCC Celebration<small
														class="text-danger"
													></small>
												</h4>
												<p></p>
											</div>
										</div>
									</div>
								</div>
							</div> -->

							<div class="carousel-item">
								<div class="img-slide sl5">
									<div hidden class="carousel-caption d-lg-block">
										<div class="row justify-content-end">
											<div class="col-lg-7 align-self-end">
												<h4>
													67 Mintutes, Mandela Day
													<small class="text-danger">with SASSA</small>
												</h4>
												<p></p>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="carousel-item">
								<div class="img-slide sl6">
									<div hidden class="carousel-caption d-lg-block">
										<div class="row justify-content-end">
											<div class="col-lg-7 align-self-end">
												<h4>Meals on Wheels Community Service</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<a
							class="carousel-control-prev"
							href="#carousel-tfcc"
							role="button"
							data-slide="prev"
						>
							<span
								class="carousel-control-prev-icon"
								aria-hidden="true"
							></span>
							<span class="sr-only">Previous</span>
						</a>
						<a
							class="carousel-control-next"
							href="#carousel-tfcc"
							role="button"
							data-slide="next"
						>
							<span
								class="carousel-control-next-icon"
								aria-hidden="true"
							></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</section>
			</article>

			<article>
				<section class="content intro">
					<div class="intro-1">
						<div class="container">
							<h1 class="title text-center">
								Welcome to Tswelopele Frail Care Centre
							</h1>
							<!-- <h3 class="text-success text-center"><b>Welcome to Tswelopele Frail Care Centre</b></h3> -->
							<div class="row">
								<!-- Services -->
								<div class="col-sm-12 col-md-4 col-lg-4 mb-2">
									<div class="card text-center">
										<!-- <a href="services"> -->
										<img class="card-img-top" src="assets/img/g/67min/1.jpg" />
										<!-- </a> -->
										<!-- <div class="card-header">
			                        <h5 class="card-title">Our Services</h5>
			                    </div> -->
										<div class="card-body">
											<h5 class="card-title">Our <b>Services</b></h5>
											<p hidden class="card-text">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												Lorem ipsum dolor sit amet, consectetur adipiscing
												elit&hellip;
											</p>
											<a href="./services.html" class="btn btn-primary">
												Read More
												<i class="fa fa-chevron-right"></i>
											</a>
										</div>
									</div>
								</div>

								<!-- Beneficiaries -->
								<div class="col-sm-12 col-md-4 col-lg-4">
									<div class="card text-center">
										<!-- <a href="beneficiaries"> -->
										<img class="card-img-top" src="./assets/img/g/1.jpg" />
										<!-- </a> -->
										<div class="card-body">
											<h5 class="card-title">Our <b>Beneficiaries</b></h5>
											<p hidden class="card-text">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												Lorem ipsum dolor sit amet, consectetur adipiscing
												elit&hellip;
											</p>

											<a href="./beneficiaries.html" class="btn btn-primary">
												Read More
												<i class="fa fa-chevron-right"></i>
											</a>
										</div>
									</div>
								</div>

								<!-- About Us -->
								<div class="col-sm-12 col-md-4 col-lg-4 mb-2">
									<div class="card text-center">
										<!-- <a href="./about.html"> -->
										<img class="card-img-top" src="./assets/img/t/z3.jpg" />
										<!-- </a> -->
										<div class="card-body">
											<h5 class="card-title">About <b>Tswelopele</b></h5>
											<p hidden class="card-text">
												&quot;TFCC was established on 01 April 2005 resulting
												from the discontinuation of services that were rendered
												by Emseni Chronic Care Unit which was part of Rhema
												Service Foundation&hellip;&quot;
											</p>
											<a href="./about.html" class="btn btn-primary">
												Read More
												<i class="fa fa-chevron-right"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="break">
					<div class="container">
						<div class="row">
							<div class="col-md-11">
								<blockquote hidden class="blockquote text-right">
									<p class="lead">
										<sup>31</sup> &quot;What then shall we say in response to
										these things&#63; If God is for us, who can be against
										us&#63; &quot;
									</p>
									<footer>
										<cite title="Romans 8 : 31">&mdash; Romans 8 : 31</cite>
									</footer>
								</blockquote>
							</div>
							<div class="col-md-1"></div>
						</div>
					</div>
				</section>
			</article>

			<!-- Donate -->
			<article hidden>
				<section class="content donate">
					<div class="text-center">
						<h1 class="title text-center">Tswelopele&apos;s Wishlist</h1>
						<h4 class="text-muted"></h4>
					</div>

					<div class="container">
						<div class="row">
							<div class="col-12 col-sm-12 col-lg-6">
								<div class="card">
									<ul class="list-group list-group-flush">
										<li class="list-group-item">
											<h6>
												<!-- <i class="fas fa-angle-right fa-lg"></i> -->
												A 13 – 15 seater vehicle or a vehicle sponsor to provide
												low cost or free vehicle hire for our hop-on hop-off
												volunteer bus service
											</h6>
										</li>
										<li class="list-group-item">
											<h6>
												<i class="fas fa-angle-right fa-lg"></i>
												Hello
											</h6>
										</li>
									</ul>
								</div>
							</div>

							<div class="col-12 col-sm-12 col-lg-6">
								<div class="card">
									<ul class="list-group list-group-flush">
										<li class="list-group-item">
											<h6></h6>
										</li>
										<li class="list-group-item">
											<h6></h6>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="break">
					<div class="container">
						<div class="row">
							<div class="col-md-11">
								<blockquote hidden class="blockquote text-right">
									<p class="lead">
										<sup>31</sup> &quot;What then shall we say in response to
										these things&#63; If God is for us, who can be against
										us&#63; &quot;
									</p>
									<footer>
										<cite title="Romans 8 : 31">&mdash; Romans 8 : 31</cite>
									</footer>
								</blockquote>
							</div>
							<div class="col-md-1"></div>
						</div>
					</div>
				</section>
			</article>
		</main>
	</body>
</html>
