<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= htmlWebpackPlugin.options.title %></title>
		<link href="<%= htmlWebpackPlugin.files.favicon %>" rel="shortcut icon" />
	</head>

	<body>
		<main role="main">
			<article>
				<section class="content services page-header d-none d-lg-block">
					<div class="img-header"></div>
				</section>
			</article>

			<article>
				<section class="content services">
					<div class="text-center">
						<h1 class="title text-center">Services</h1>
						<h4 class="text-muted">offered by TFCC</h4>
					</div>
					<div class="container">
						<div class="services-0">
							<div class="row">
								<div class="col-12 col-sm-12 col-lg-6">
									<div class="card">
										<div hidden class="card-header">&amp; Principles</div>
										<ul class="list-group list-group-flush">
											<li class="list-group-item">
												<h6>24-hour Residential Frail Care</h6>
											</li>
											<li class="list-group-item">
												<h6>Social Work Services</h6>
											</li>
										</ul>
									</div>
								</div>

								<div class="col-12 col-sm-12 col-lg-6">
									<div class="card">
										<div hidden class="card-header"></div>
										<ul class="list-group list-group-flush">
											<li class="list-group-item">
												<h6>Respite Care</h6>
											</li>
											<li class="list-group-item">
												<h6>Safety Beds</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-12 col-sm-12 col-lg-12">
									<div class="card">
										<div hidden class="card-header">&amp; Principles</div>
										<div class="card-body">
											<h5 class="card-title">Learning Opportunities for</h5>
										</div>
										<ul class="list-group list-group-flush">
											<li class="list-group-item">
												<h6>Student Auxiliary Social Work</h6>
											</li>
											<li class="list-group-item">
												<h6>Pupil Nursing Auxiliary</h6>
											</li>
											<li class="list-group-item">
												<h6>Academic Final Year Medical Students.</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="break">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-lg-12">
								<blockquote hidden>
									<p class="lead">
										<sup>3</sup> &quot;Not only so, but we also glory in our
										sufferings, because we know that suffering produces
										perseverance;&quot;
									</p>
									<footer>
										<cite title="Romans 5 : 3-18">&mdash; Romans 5 : 3-5</cite>
									</footer>
								</blockquote>
							</div>
						</div>
					</div>
				</section>
			</article>

			<article>
				<section class="content about brk">
					<div class="container">
						<div class="services-0">
							<div class="row">
								<div class="col-12 col-sm-12 col-lg-4">
									<div class="description">
										<h4>Our Vision</h4>
										<p>
											Destitute older persons (including) people with
											disabilities integrated within the city of Johannesburg,
											living a safe, secure and dignified life
										</p>
									</div>
								</div>

								<div class="col-12 col-sm-12 col-lg-4">
									<div class="description">
										<h4>Our Mission</h4>
										<p>
											To provide a comprehensive services to our beneficiaries
											for a better quality life.
										</p>
									</div>
								</div>

								<div class="col-12 col-sm-12 col-lg-4">
									<div class="description">
										<h4>Our Goal</h4>
										<p>
											Destitute older persons (including) people with
											disabilities integrated into the city of Johannesburg and
											living a better life.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="break">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-lg-12">
								<blockquote hidden>
									<p class="lead">
										<sup>1 - 2</sup> &quot;Do not let your hearts be troubled.
										You believe in God; believe also in me. My Father’s house
										has many rooms; if that were not so, would I have told you
										that I am going there to prepare a place for you&#63; &quot;
									</p>
									<footer>
										<cite title="John 14 : 1-2">&mdash; John 14 : 1-2</cite>
									</footer>
								</blockquote>
							</div>
						</div>
					</div>
				</section>
			</article>

			<article>
				<section class="content services brk">
					<h1 class="title text-center">
						Our Values, Principles &amp; Objectives
					</h1>
					<div class="container">
						<div class="services-1">
							<div class="row">
								<div class="col-12 col-sm-12 col-lg-6">
									<div class="card">
										<div class="card-header">Values &amp; Principles</div>
										<div hidden class="card-body">
											<h5 class="card-title">Values</h5>
											<p class="card-text">Some quick example text...</p>
										</div>
										<ul class="list-group list-group-flush">
											<li class="list-group-item">
												<h6>Sustainability</h6>
												<p>Ensure continuation for better tomorrow</p>
											</li>
											<li class="list-group-item">
												<h6>Efficiency</h6>
												<p>
													Deliver quality service through cost effective
													measures
												</p>
											</li>
											<li class="list-group-item">
												<h6>Job creation</h6>
												<p>Employ</p>
											</li>
											<li class="list-group-item">
												<h6>Integration</h6>
												<p>Think incorporation with broader society</p>
											</li>
											<li class="list-group-item">
												<h6>Right to dignity</h6>
												<p>Grow self-esteem and self-worth of beneficiaries</p>
											</li>
										</ul>
									</div>
								</div>

								<div class="col-12 col-sm-12 col-lg-6">
									<div class="card">
										<div class="card-header">Objectives</div>
										<ul class="list-group list-group-flush">
											<li class="list-group-item">
												<h6>
													Provide integrated and holistic residential care
													services to our beneficiaries.
												</h6>
											</li>
											<li class="list-group-item">
												<h6>
													To ensure efficient and compliant governance of the
													organisation
												</h6>
											</li>
											<li class="list-group-item">
												<h6>
													To develop and implement sustainable social services
													programmes and project that encourages active
													participation in the community.
												</h6>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>

				<section class="break">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-lg-12">
								<blockquote hidden>
									<p class="lead">
										<sup>4</sup> &quot;perseverance, character; and character,
										hope.&quot;
									</p>
									<footer>
										<cite title="Romans 5 : 3-18">&mdash; Romans 5 : 3-5</cite>
									</footer>
								</blockquote>
							</div>
						</div>
					</div>
				</section>
			</article>

			<!-- Partners and Affiliates -->
			<article>
				<!-- Find a way to show partners, sponsors, funders, etc. -->
				<section class="content services partners brk">
					<div class="container">
						<div class="text-center">
							<h1 class="title">Our Funders &amp; Donors</h1>
							<h4 class="description text-muted"></h4>
						</div>

						<div id="listFD"></div>
					</div>
				</section>

				<section class="break">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-lg-12">
								<blockquote hidden>
									<p class="lead">
										<sup>5</sup> &quot;And hope does not put us to shame,
										because God’s love has been poured out into our hearts
										through the Holy Spirit, who has been given to us.&quot;
									</p>
									<footer>
										<cite title="Romans 5 : 3-18">&mdash; Romans 5 : 3-5</cite>
									</footer>
								</blockquote>
							</div>
						</div>
					</div>
				</section>
			</article>
		</main>
	</body>
</html>
