<!-- Return to Top -->
<a href="javascript:" id="return-to-top"><i class="fas fa-chevron-up"></i></a>

<footer class="page-footer font-small footer-white">
	<div class="covid-19">
		<div
			style="
				background: #464644;
				padding: 20px;
				color: #ec8383;
				text-align: center;
				font-weight: bold;
			"
		>
			<strong>STAY HOME AND STAY SAFE.</strong> For more information and support
			on COVID-19 please visit
			<a
				href="https://sacoronavirus.co.za/"
				target="_blank"
				style="color: #ffffff; text-decoration: underline;"
				rel="noopener noreferrer"
				><strong>www.sacoronavirus.co.za</strong></a
			>
		</div>
	</div>
	<div class="social-bar">
		<div class="container">
			<div class="row py-4 d-flex align-items-center">
				<div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
					<h6 class="mb-0">Get connected with us on social networks!</h6>
				</div>

				<div class="col-md-6 col-lg-7 text-center text-md-right social-buttons">
					<!--Instagram-->
					<a class="ins-ic" title="Coming Soon!!" target="_blank">
						<i class="fab fa-instagram white-text mr-4"> </i>
					</a>
					<!-- Facebook -->
					<a
						class="fb-ic"
						target="_blank"
						href="https://www.facebook.com/tfcc.tswelopele/"
					>
						<i class="fab fa-facebook white-text mr-4"> </i>
					</a>
					<!-- Twitter -->
					<a hidden class="tw-ic" target="_blank">
						<i class="fab fa-twitter white-text mr-4"> </i>
					</a>
					<!--Linkedin -->
					<a class="li-ic" title="Coming Soon!!" target="_blank">
						<i class="fab fa-linkedin white-text mr-4"> </i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-copyright text-center py-3">
		<div
			class="text-center text-muted"
			style="color: rgba(153, 153, 153, 0.15);"
		>
			<div class="d-lg-inline">
				<small> © Copyright 2017 - All rights reserved</small>
			</div>
			<span class="d-none d-lg-inline-block"><small>|</small></span>
			<div class="d-lg-inline">
				<small> Made &amp; Designed by Mohau Letlala</small>
			</div>
			<span class="d-none d-lg-inline-block"><small>|</small></span>
			<div class="d-inline">
				<small>
					Hosted By:
					<a target="_blank" href="http://www.diramano.co.za/"
						>Diramano-CIETech Sol</a
					>
				</small>
			</div>
		</div>
		<p
			hidden
			class="text-center text-muted"
			style="color: rgba(153, 153, 153, 0.15);"
		>
			<small> Made &amp; Designed by Mohau Letlala</small>
		</p>
		<p
			hidden
			class="text-center text-muted"
			style="color: rgba(153, 153, 153, 0.15);"
		>
			<small
				>Hosted By:
				<a target="_blank" href="http://www.diramano.co.za/"
					>Diramano-CIETech Sol</a
				></small
			>
		</p>
		<!-- © 2018 Copyright: -->
	</div>
</footer>
