<header>
	<nav class="navbar navbar-expand-lg fixed-top">
		<div class="container">
			<a class="navbar-brand" href="./">
				<img class="" alt="logo" src="./assets/img/logo.png" />
				<span class="d-none d-sm-block">Tswelopele Frail Care Centre</span>
			</a>

			<div
				class="collapse navbar-collapse d-none d-md-none"
				id="navbarTogglerDemo01"
			>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="./">
							<i aria-hidden="true"></i>
							<span class="sr-only">(current) </span>
							Home
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./services.html">
							<i aria-hidden="true"></i>
							<span class="sr-only">(current) </span>
							Services
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./beneficiaries.html">
							<i aria-hidden="true"></i>
							<span class="sr-only">(current) </span>
							Beneficiaries
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./gallery.html">
							<i aria-hidden="true"></i>
							<span class="sr-only">(current) </span>
							Gallery
						</a>
					</li>

					<li hidden class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle"
							href="#"
							id="navbarDropdownMenu"
							role="button"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
							>Beneficiaries</a
						>
						<div
							class="dropdown-menu dropdown-menu-right"
							aria-labelledby="navbarDropdownMenu"
						>
							<a class="dropdown-item" href="./beneficiaries.html"
								>Beneficiaries</a
							>
							<a class="dropdown-item" href="#">Gallery</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item disabled" href="#">Something else</a>
						</div>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="./about.html">
							<i aria-hidden="true"></i>
							<span class="sr-only">(current) </span>
							About Us
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./contact.html">
							<i aria-hidden="true"></i>
							<span class="sr-only">(current) </span>
							Contact
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<button
		class="btn btn-md btn-light d-lg-none"
		id="toggle"
		type="button"
		aria-controls="overlay"
		aria-label="Toggle navigation"
	>
		<i aria-hidden="true"></i>
	</button>
	<div class="overlay d-lg-none" id="overlay">
		<nav class="overlay-menu">
			<ul>
				<li class="active">
					<a href="./index.html">
						<i aria-hidden="true"></i>
						Home
					</a>
				</li>
				<li><a href="./services.html">Services</a></li>
				<li><a href="./beneficiaries.html">Beneficiaries</a></li>
				<li><a href="./gallery.html">Gallery</a></li>
				<li><a href="./about.html">About Us</a></li>
				<li><a href="./contact.html">Contact</a></li>
			</ul>
		</nav>
	</div>
</header>
