$theme-colors: (
	"primary": #987a48,
	"danger": rgba(#e23636, 0.89),
	"success": #456742,
);

// @import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
// @import "tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
// @import "dropdown";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/alert";
// @import "progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/carousel";
// @import "spinners";
@import "~bootstrap/scss/utilities";
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
) !default;

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~@fortawesome/fontawesome-free/scss/variables";
@import "~@fortawesome/fontawesome-free/scss/mixins";
@import "~@fortawesome/fontawesome-free/scss/core";
@import "~@fortawesome/fontawesome-free/scss/icons";

// you can pick and choose the features you actually need:
@import "~@fortawesome/fontawesome-free/scss/larger";
@import "~@fortawesome/fontawesome-free/scss/fixed-width";
// @import '~@fortawesome/fontawesome-free/scss/animated';
@import "~@fortawesome/fontawesome-free/scss/stacked";
// @import '~@fortawesome/fontawesome-free/scss/screen-reader';

// // the fonts itself, perhaps you only need "solid"
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@font-face {
	font-family: "Raleway";
	src: local("Raleway"), local("Raleway-Regular"),
		url("./assets/fonts/Raleway.ttf") format("truetype"); /* Safari, Android, iOS */
	font-display: swap;
}

@font-face {
	font-family: "Indie Flower";

	src: local("Indie Flower"), local("Indie+Flower-Regular"),
		url("./assets/fonts/indieflower/indieflower.ttf") format("truetype"); /* Safari, Android, iOS */
	font-display: swap;
}

* {
	-webkit-tap-highlight-color: #ffffff;
	-webkit-tap-highlight-color: transparent;

	:focus {
		outline: 0;
	}
}

html {
	position: relative;
	min-height: 100%;

	body {
		background: linear-gradient(125deg, #446841 80%, #825c14);
		font-family: "Raleway", "Open Sans Regular", "Helvetica", sans-serif;
		font-weight: lighter;
		font-size: 0.9rem;
		line-height: 1.2;
		letter-spacing: 2px;
		font-style: normal;

		// margin-bottom: 160px; /* Margin bottom by footer height */

		header {
			/*
			*	Menu Navigation
			*	codepen: https://codepen.io/riogrande/pen/gbXxdx
			*	by: Mario Loncarek <mario.loncarek@gmail.com>
			*/
			nav {
				&.navbar {
					background-color: rgba(68, 104, 65, 0.99);
					border: 0;
					border-radius: 0;
					box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42),
						0 3px 20px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
					color: #fff;
					min-height: 0;
					-webkit-transition: all 0.6s ease-out;
					-moz-transition: all 0.6s ease-out;
					-o-transition: all 0.6s ease-out;
					-ms-transition: all 0.6s ease-out;
					transition: all 0.6s ease-out;
					&.fixed-top {
						border-radius: 0;
						margin-bottom: 0;
						.navbar-collapse {
							border-top: none;
							box-shadow: none;
							.navbar-nav {
								> li {
									&.nav-item {
										a {
											border-radius: 0px;
											color: inherit;
											font-size: 0.7rem;
											letter-spacing: 0.05rem;
											text-transform: uppercase;
											&.nav-link {
												i {
													color: transparent;
												}
												&:hover,
												&:focus {
													color: #000;
												}
											}
										}
										&.dropdown {
											.dropdown-menu {
												color: #000;
												background-color: #ebebeb;
												border: none;
												border-radius: 0;
												text-align: center;
												.dropdown-item {
													&.active {
														background-color: #cccc99;
													}
													&:hover,
													&:focus {
														background-color: #cccc99;
													}
												}
												.dropdown-divider {
													border-top: 1px solid #bd0008;
												}
											}
										}
										&.active {
											a {
												&.nav-link {
													i {
														color: #bd0008;
														font-family: "Font Awesome 5 Free";
														font-size: 0.7rem;
														font-style: normal;
														font-weight: 400;
														font-variant: normal;
														text-rendering: auto;
														-webkit-font-smoothing: antialiased;

														padding-right: 0.2rem;
														&::before {
															content: "\f140";
															display: inline-block;
															vertical-align: middle;
															transition-property: all 0.2s linear 0s;
															-moz-transition: all 0.2s linear 0s;
															-webkit-transition: all 0.2s linear 0s;
															-o-transition: all 0.2s linear 0s;
														}
													}
												}
											}
										}
									}
								}
								/*
								.dropdown {
									&.open {
										>a {
											background-color: transparent;
											&:focus, &:hover {
												color: #000;
											}
										}
									}
									@media (min-width: 768px) {
										&:hover {
											.dropdown-menu {
												margin-top: 0px;
												border-top: 2px solid rgba(204, 204, 153, 0.3);
												border-radius: 0;
												font-weight: bold;
												transition: all 0.5s linear;
												-moz-transition: all 0.5s linear;
												-webkit-transition: all 0.5s linear;
												-o-transition: all 0.5s linear;
												display: block;
												transform-origin: top;
												animation-fill-mode: forwards;
												-webkit-animation-fill-mode: forwards;
											}
										}
				
										.dropdown-menu {
											// margin-top: 1px;
											opacity: 1;
											visibility: visible;
										}
									}
				
									.dropdown-menu {
										// margin-top: 1px;
										opacity: 1;
										visibility: visible;
				
										>li {
											>a {
												&:focus,
												&:hover {
												background-color: rgba(204, 204, 153, 0.3);
												color: #000;
												outline: 0;
												text-decoration: none;
												}
											}
										}
										>.active {
											>a, a:focus, a:hover {
											background-color: #CCCC99;
											color: #000;
											outline: 0;
											text-decoration: none;
											}
										}
									}
								}
								*/
							}
						}
					}

					&.navbar-scrolled {
						// background: rgb(249, 249, 249); //IE
						// background: rgba(249, 249, 249, 0.85); //NON-IE
						background-color: rgba(249, 249, 249, 0.95);
						color: #000;
						.navbar-collapse {
							.navbar-nav {
								> .active {
									> a {
										color: #000;
										background-color: transparent;
										&:focus,
										&:hover {
											background-color: transparent;
											color: #000;
										}
									}
								}
								.nav-item {
									a {
										&:hover {
											color: #825c14 !important;
										}
									}
								}
							}
						}
						/*
						.dropdown-nav {
							display: none;
							height: 50px;
							position: absolute;
							right: 25px;
							top: 70px;
							background: transparent;
							transition: all .5s ease-in-out;
			
							.dropdown-menu {
								display: block;
								position: static;
								box-shadow: none;
								// box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.175);
								border: none;
								border-radius: 0;
								margin: 0 auto;
								// background: transparent;
								background: rgba(68, 104, 65, 0.3);
								> li {
								float: left;
								> a {
									color: #000;
										width: auto !important;
										background: transparent;
										line-height: 49px;
										padding-top: 0;
										padding-bottom: 0;
										margin: 0;
										> i {
											display: none !important;
										}
										&:focus,
										&:hover {
											background-color: #CCCC99;
											color: #000;
											outline: 0;
											text-decoration: none;

											i {
												display: none;
												color: #446841;
											}
										}
									}
								}
							}
						}
						*/
					}
					.navbar-brand {
						background-image: url("./assets/img/logo.png") none;
						color: inherit;
						height: 50px;
						padding: 0 15px;
						position: relative;
						// z-index: 100;
						@media (max-width: 575.98px) {
							padding: 0;
						}
						&:focus,
						&:hover {
							color: inherit;
						}
						img {
							border: 0;
							height: 50px;
							vertical-align: middle;
						}
						.d-sm-block {
							@media (min-width: 576px) {
								display: inline !important;
							}
						}
						.d-md-block {
							@media (min-width: 768px) {
								display: inline !important;
							}
						}
						// Extra small devices (portrait phones, less than 375px)
						@media (max-width: 375px) {
							display: flex;
							span {
								padding-top: 1.4rem;
								font-size: 0.7rem;
							}
						}
					}
					.navbar-toggle {
						border: 0;
					}
				}
			}
			/*
			*	Full Screen Overlay Hamburger Menu
			*	codepen: https://codepen.io/KingKabir/pen/QyPwgG
			*	by: Kabir Shah
			*/
			button {
				&.btn {
					background-color: rgba(207, 206, 206, 0.883);
					border: 0 none;
					&#toggle {
						color: rgb(0, 0, 0);
						right: 5%;
						position: fixed;
						top: 2%;
						transition: opacity 0.25s ease;
						z-index: 1031;
						@media (orientation: landscape) {
							top: 3%;
						}
						&:hover {
							opacity: 0.7;
							color: #987a48;
						}
						&.active {
							color: rgb(151, 95, 31);
							i {
								&::before {
									content: "\f00d";
								}
							}
						}
						i {
							font-family: "Font Awesome 5 Free";
							font-weight: 900;
							// font-size: 1.5rem;
							font-style: normal;
							&::before {
								content: "\f0c9";
								display: inline-block;
								// vertical-align: middle;
								transition-property: all 0.2s linear 0s;
								-moz-transition: all 0.2s linear 0s;
								-webkit-transition: all 0.2s linear 0s;
								-o-transition: all 0.2s linear 0s;
							}
						}
					}
				}
			}
			.overlay {
				position: fixed;
				background-color: rgb(3, 5, 0); /* Black w/opacity */
				top: 0;
				left: 0;
				width: 100%;
				height: 0%;
				opacity: 0;
				overflow: hidden; /* Disable horizontal scroll */
				visibility: hidden;
				transition: opacity 0.35s, visibility 0.35s, height 0.35s;
				z-index: 1030;
				&.open {
					opacity: 0.9;
					overflow-y: scroll;
					visibility: visible;
					height: 100%;

					li {
						animation: fadeInRight 0.5s ease forwards;
						animation-delay: 0.35s;

						&:nth-of-type(2) {
							animation-delay: 0.4s;
						}
						&:nth-of-type(3) {
							animation-delay: 0.45s;
						}
						&:nth-of-type(4) {
							animation-delay: 0.5s;
						}
					}
				}
				@media (orientation: landscape) {
					padding-top: 3.6rem;
					nav {
						ul {
							li {
								a {
									font-size: 2rem;
								}
							}
						}
					}
				}
				nav {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					font-size: 2.5rem;
					text-align: center;

					ul {
						list-style: none;
						padding: 0;
						margin: 0 auto;
						display: inline-block;
						position: relative;
						height: 100%;

						li {
							padding: 0.5rem;
							&.active {
								a {
									color: #456742;
									// border-bottom: 0.5px solid #987a48;
									i {
										color: #bd0008;
										font-family: "Font Awesome 5 Free";
										font-size: 1.2rem;
										font-style: normal;
										padding: 0%;
										vertical-align: middle;
										&::before {
											// content: "\f140";
											display: inline-block;
											// vertical-align: middle;
											transition-property: all 0.2s linear 0s;
											-moz-transition: all 0.2s linear 0s;
											-webkit-transition: all 0.2s linear 0s;
											-o-transition: all 0.2s linear 0s;
										}
									}
								}
							}
							a {
								display: block;
								position: relative;
								// color: #fff;
								text-decoration: none;
								// overflow: hidden;

								&:hover:after,
								&:focus:after,
								&:active:after {
									color: #fff;
									width: 100%;
								}
								&:hover {
									color: #456742;
								}
							}
						}
					}
				}
			}
		}

		main {
			article {
				section {
					background: rgba(249, 249, 249, 0.98);
					padding: 70px 0;
					position: relative;
					z-index: 2;

					&.content {
						border-radius: 3.5px;
						box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
							0 6px 30px 5px rgba(0, 0, 0, 0.12),
							0 8px 10px -5px rgba(0, 0, 0, 0.2);
						margin: -60px 20px 0;
						&.page-header {
							background-color: rgba(69, 103, 67, 0.55);
							background-position: center center;
							background-size: cover;
							border: 0;
							border-radius: 0;
							box-shadow: none;
							// height: 100vh;
							margin: 0;
							padding: 0;
							overflow: hidden;
						}

						&.intro {
							&.page-header {
								height: 100vh;
							}
							.intro-0 {
								@include media-breakpoint-down(sm) {
									.description {
										text-align: center;
									}
								}
							}
							.intro-1 {
								img {
									height: 192.02px;
								}
							}
							.social {
								.title,
								.description,
								.info {
									text-decoration: line-through;
								}
								.research > .description {
									text-decoration: none;
								}
							}
						}
						.card {
							border: 0.75px solid rgba(0, 0, 0, 0.061);
							border-radius: 0;
							word-wrap: normal;
							.card-body {
								.card-text {
									font-size: 0.9rem;
								}
							}
						}

						h2 > title {
							margin-top: 15px;
							margin-bottom: 5px;
						}
						hr {
							border-color: rgba(204, 204, 153, 0.2);
						}
						p {
							line-height: 1.1;
						}
						.title,
						.title a {
							color: #825c14;
							font-weight: 600;
							text-decoration: none;
						}
					}

					&.break {
						background: none;
						padding: 65px 0 50px;
						position: relative;
						top: -30px;

						blockquote {
							// Indie_Flower
							font-family: "Indie Flower", "Open Sans Regular", "Helvetica",
								"cursive";
							border-left: 5px solid #eee;
							padding: 10px 20px;
							&.text-right {
								border-left: 0 none;
								border-right: 5px solid #eee;
							}
							> p {
								color: #fff;
								> .lead {
									color: #fff;
									font-size: 1.3em;
									letter-spacing: 7.5px;
								}
							}
							footer {
								> cite {
									color: #fff;
									background-color: transparent;
									font-size: 1.3em;
									text-transform: capitalize;
								}
							}
							.small:before,
							footer:before,
							small:before {
								color: #fff;
							}
						}
					}
				}
			}
		}

		footer {
			&.footer-white {
				background-color: rgba(249, 249, 249, 0.85);
			}
			.social-bar {
				background-color: rgba(130, 92, 20, 0.198);
				.social-buttons {
					a {
						&:hover {
							color: #292827;
							text-decoration: none;
						}
					}
					i {
						@include media-breakpoint-down(sm) {
							font-size: 1.833333em;
						}
					}
					.gplus-ic {
						color: #dd4b39;
					}
					.tw-ic {
						color: #55acee;
					}
					.fb-ic {
						color: #3b5998;
					}
					.li-ic {
						color: #1a75ac;
					}
					.ins-ic {
						color: #e95950;
					}
				}
			}
			.footlinks {
				hr {
					border-top: 1.4px dotted rgba(130, 92, 20, 0.198);
					margin: 9.5px;
				}

				.foot-content {
					text-align: center;
					margin-bottom: 0;
					justify-content: center;
				}
			}
			hr {
				border-top: 1.4px dotted rgba(130, 92, 20, 0.198);
				margin: 9.5px;
			}
			.pull-center {
				display: inline-block;
				float: none;
			}
		}

		//===================================
		//==== Return To Top
		//===================================
		#return-to-top {
			position: fixed;
			bottom: 25px;
			right: 25px;
			background: #cccc99;
			width: 40px;
			height: 40px;
			display: block;
			text-decoration: none;
			// -webkit-border-radius: 35px;
			// -moz-border-radius: 35px;
			// border-radius: 35px;
			display: none;
			z-index: 3;
			-webkit-transition: all 0.3s linear;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;

			i {
				color: #fff;
				margin: 0;
				position: relative;
				left: 10px;
				top: 10px;
				font-size: 1.5em;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}

			&:hover {
				background: #6c5f2e;

				i {
					color: #cccc99;
					top: 5px;
				}
			}
		}
	}
}

@include media-breakpoint-down(md) {
	html {
		body {
			main {
				article {
					section {
						&.content {
							border-radius: 0;
							box-shadow: none;
							margin: 4.2rem 0 1.5rem;
							padding: 1.5rem;
							&.brk {
								margin: 0 0 1.5rem;
								.card {
									margin: 1rem 0;
								}
							}
						}
						&.break {
							padding: 0.5rem 0;
							top: 0;
						}
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	html {
		body {
			background: #44684185;
		}
	}
}
